body {
  margin: 5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}


button {
  background-color: #fff;
  font-weight: bold;
  border-radius: 7px;
  box-shadow: 2px 2px #dedfe0;
  border: 1px #dedfe0
}
